dataSource:
  driverClassName: com.microsoft.sqlserver.jdbc.SQLServerDriver
  url: jdbc:sqlserver://localhost;databaseName=grails-bootstrap-quickstart
  username: grails-bootstrap-quickstart
  password: password


